/* #region ---------colors */
:root{
    ---bg--navbar: #FFFFFF;
    ---bg--content-top: #1B72E8;
    ---bg--content-bottom: #F8F9FA;
    ---bg--sidebar: #051E34;
}
/* #endregion ------colors */


/* #region ---------utilities */
.dashed{
    border: 2px dashed violet;    
}

/* #endregion ------utilities */
.dashed{
    border: 2px dashed pink;    
}
#top nav{
    background-color: var(---bg--navbar) ;
    height: 68px;
}
#wrapper{
    height: calc(100vh - 68px);
}
#sidebar{
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
    background-color: var(---bg--sidebar);
    width: 68px;
    height: calc(100vh - 5rem);
}
#main{
    width: calc(100% - 68px);
    overflow-y: auto;        
}
.header{
    height: 8rem;
    background-color: var(---bg--content-top);
}
.content{
    background-color: var(---bg--content-bottom);
}


.cacao_mob_logo{
    width: 2.5rem;
}
.cacao_logo{
    width: 10rem;
    display: none;
}



/* #region ---------MQ */
@media screen and (min-width: 992px) {
    #sidebar{
        width: 150px;
        height: calc(100vh - 5rem);
    }
    #main{
        width: calc(100% - 150px);       
    }
    .cacao_mob_logo{
        display: none;
    }
    .cacao_logo{
        display:inline-block;
    }
}

/* #endregion ------MQ */








